@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Inter";
  font-display: swap;
  src:
    local("Inter-Regular"),
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-style: medium;
  font-family: "Inter";
  font-display: swap;
  src:
    local("Inter-Medium"),
    url("../fonts//Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-style: bold;
  font-family: "Inter";
  font-display: swap;
  src:
    local("Inter-SemiBold"),
    url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
}

